var/
xblock_google_drive.egg-info
*.log
*.pyc
*~
venv/*

# Unit test / coverage reports
.cache/
.pytest_cache/
.coverage
.coverage.*
.tox
coverage.xml
htmlcov/

# Translations
*.pot

# IDEs and text editors
*~
*.swp
.idea/
.project
.pycharm_helpers/
.pydevproject
