[MASTER]

# Profiled execution.
profile=no

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=migrations


[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"
# I0011     locally-disabled   (module-level pylint overrides)
# disabling ```duplicate-code``` due to 5 lines that are the same near the top of
# both xblock files - of course these are similar because it is a core pattern to
# use - if we separated out into a separate file, we'd have the 5 lines in a separate
# file and have 2 import statements within each file to get back the stuff - pretty
# useless warning in this specific case
disable=I0011,W0232,duplicate-code


[REPORTS]

# Put messages in a separate file for each module / package specified on the
# command line instead of printing them on stdout. Reports (if any) will be
# written in a file name "pylint_global.[txt|html]".
files-output=no

# Add a comment according to your evaluation note. This is used by the global
# evaluation report (RP0004).
comment=no


[VARIABLES]

# Tells whether we should check for unused import in __init__ files.
init-import=no

# A regular expression matching the beginning of the name of dummy variables
# (i.e. not used).
dummy-variables-rgx=_|dummy


[TYPECHECK]

# When zope mode is activated, add a predefined set of Zope acquired attributes
# to generated-members.
zope=no


[BASIC]

# List of builtins function names that should not be used, separated by a comma
bad-functions=map,filter,apply,input

# Regular expression which should only match correct function names
function-rgx=[a-z_][a-z0-9_]{2,50}$


[SIMILARITIES]

# Ignore imports when computing similarities.
ignore-imports=no


[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120


[IMPORTS]

# Deprecated modules which should not be used, separated by a comma
deprecated-modules=regsub,string,TERMIOS,Bastion,rexec
