.google-docs-xblock-wrapper iframe{
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin: 0 auto;
}

iframe.no-width-height{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 450px;
}

.google-docs-xblock-wrapper img{
    width: auto;
    height : auto;
    max-width: 100%;
    max-height: 100%;
}

#validation_alert{
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #323232;
    border-bottom: 3px solid rgb(192, 172, 0);
    padding: 10px;
    position: absolute;
    top:0;
    z-index: 10;
    max-height: 200px;
}

.alert_icon{
    position: absolute;
    top: 35%;
    font-size: 200%;
    left: 3%;
}

.alert_icon:before{
    font-family: "FontAwesome";
    content: "\f071";
    display: inline-block;
    color: rgb(192, 172, 0);
    float: left;
    height: 0;
    width: 0;
}

.alert_header {
    width: 85%;
    margin: 0 5% 0 10%;
}

.alert_title {
    width: auto;
    color: white;
}

.alert_message {
    font-size: 80%;
    color: darkgray;
}

[class^="icon"] {
    width: auto;
    margin: 0;
    padding: 2px;
}

&:hover {
    color: rgb(128, 169, 204);
}

.is--hidden {
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
    outline: none;
}

.covered, .is--hidden {
    display: none;
    visibility: hidden;
}

.error {
    outline: none !important;
    border:2px solid red;
    box-shadow: 0 0 10px #719ECE;
}

#save-button.disabled {
    background-color: gray;
    cursor: auto;
}

#google-docs-actions{
    position: absolute;
    bottom: 0;
}

.editor_content_wrapper {
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    top: 0;
}

#xblock-inputs.alerted {
    top: 69px;
}
