.google-edit-wrapper .user-inputs-and-validation .validation_alert{
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #323232;
    border-bottom: 3px solid rgb(192, 172, 0);
    padding: 10px;
    position: absolute;
    top:0;
    z-index: 10;
    max-height: 200px;
}

.google-edit-wrapper .user-inputs-and-validation .validation_alert.covered, .google-edit-wrapper .xblock-inputs li.comp-setting-entry.covered {
    display: none;
    visibility: hidden;
}

.google-edit-wrapper .user-inputs-and-validation .validation_alert .alert_icon{
    position: absolute;
    top: 35%;
    font-size: 200%;
    left: 3%;
}

.google-edit-wrapper .user-inputs-and-validation .validation_alert .alert_icon:before{
    font-family: "FontAwesome";
    content: "\f071";
    display: inline-block;
    color: rgb(192, 172, 0);
    float: left;
    height: 0;
    width: 0;
}

.google-edit-wrapper .user-inputs-and-validation .validation_alert .alert_header {
    width: 85%;
    margin: 0 5% 0 10%;
}

.google-edit-wrapper .user-inputs-and-validation .validation_alert .alert_header .alert_title {
    width: auto;
    color: white;
}

.google-edit-wrapper .user-inputs-and-validation .validation_alert .alert_header .alert_message {
    font-size: 80%;
    color: darkgray;
}

.user-inputs-and-validation .validation_alert [class^="icon"] {
    width: auto;
    margin: 0;
    padding: 2px;
}

.google-edit-wrapper .xblock-inputs {
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    top: 0;
}

.google-edit-wrapper .xblock-inputs.alerted {
    top: 69px;
}

.google-edit-wrapper .xblock-inputs .error {
    outline: none !important;
    border:2px solid red !important;
    box-shadow: 0 0 10px #719ECE !important;
}

.google-edit-wrapper .xblock-actions{
    position: absolute;
    bottom: 0;
}

.google-edit-wrapper .xblock-actions .save-button.disabled {
    background-color: gray;
    cursor: auto;
}
