name: Python CI

on:
  push:
    branches: [master]
  pull_request:
    branches:
    - '**'
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8', '3.11', '3.12']
        toxenv: [django42, quality, package]
    steps:
    - name: Install translations dependencies
      run: sudo apt-get install -y gettext

    - name: checkout repo
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: setup python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Dependencies
      run: pip install -r requirements/ci.txt

    - name: Run Tests
      env:
        TOXENV: ${{ matrix.toxenv }}
      run: tox
