name: CI
on: [push]
jobs:
  python-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ ubuntu-20.04 ]
        python-version: [ '3.8' ]
        toxenv: [django32, django42 quality]
    steps:
      - uses: actions/checkout@v2
        continue-on-error: true
      - name: Python setup
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up test environment
        run: |
          sudo apt-get update
          sudo apt-get install xvfb gettext
          wget https://github.com/mozilla/geckodriver/releases/download/v0.25.0/geckodriver-v0.25.0-linux64.tar.gz
          mkdir geckodriver
          tar -xzf geckodriver-v0.25.0-linux64.tar.gz -C geckodriver
          export PATH=$PATH:$PWD/geckodriver
          export BOKCHOY_HEADLESS=true

      - run: geckodriver --version

      - name: Install Requirements
        run: |
          pip install -r requirements/ci.txt

      - name: Run Tests
        run: xvfb-run --server-args=-ac -- tox -e ${{ matrix.toxenv }}
        env:
          BOKCHOY_HEADLESS: true
